/*  your css code here. If applicable */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111827;
    font-family: Arial, Helvetica, sans-serif;
}

#timer {
    color: #22c55e;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 25px;
    border: 2px solid #22c55e;
    border-radius: 8px;
    background-color: #000;
}
